In [1]:
import pandas as pd

In [2]:
gt_clusters = pd.read_csv('ground_truth_clusters.csv')

In [6]:
to_keep = gt_clusters.loc[gt_clusters['Cluster'] != 'not applicable']

In [7]:
to_keep

                  Cell Cluster
1               AZ_A10   delta
2               AZ_A11   alpha
3               AZ_A12   delta
4                AZ_A2   gamma
7                AZ_A5  ductal
...                ...     ...
3504  HP1526901T2D_P22   delta
3505  HP1526901T2D_P23   gamma
3508   HP1526901T2D_P4    beta
3511   HP1526901T2D_P7    beta
3513   HP1526901T2D_P9    beta

[2209 rows x 2 columns]

In [8]:
all_data_log = pd.read_csv('seger_counts.csv')

In [10]:
all_data_log

,Unnamed: 0,AZ_A1,AZ_A10,AZ_A11,AZ_A12,AZ_A2,AZ_A3,AZ_A4,AZ_A5,AZ_A6,...,HP1526901T2D_P22,HP1526901T2D_P23,HP1526901T2D_P24,HP1526901T2D_P3,HP1526901T2D_P4,HP1526901T2D_P5,HP1526901T2D_P6,HP1526901T2D_P7,HP1526901T2D_P8,HP1526901T2D_P9
0,SGIP1,0,0,0,0,32,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,AZIN2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,6
2,CLIC4,0,3,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,16,21,0
3,AGBL4,0,0,0,0,0,0,0,0,0,...,0,12,0,0,0,0,0,0,0,0
4,NECAP2,0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,9,0,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25520,ERCC_0.45776367:mix1_0.91552734:mix2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25521,ERCC_0.22888184:mix1_0.45776367:mix2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25522,ERCC_0.11444092:mix1_0.22888184:mix2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25523,ERCC_0.05722046:mix1_0.11444092:mix2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25524,ERCC_0.01430512:mix1_0.02861023:mix2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [12]:
keep = ['Unnamed: 0'] + to_keep['Cell'].values.tolist()

In [13]:
all_data_log[keep]

,Unnamed: 0,AZ_A10,AZ_A11,AZ_A12,AZ_A2,AZ_A5,AZ_A6,AZ_A7,AZ_A8,AZ_A9,...,HP1526901T2D_P18,HP1526901T2D_P19,HP1526901T2D_P2,HP1526901T2D_P20,HP1526901T2D_P21,HP1526901T2D_P22,HP1526901T2D_P23,HP1526901T2D_P4,HP1526901T2D_P7,HP1526901T2D_P9
0,SGIP1,0,0,0,32,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,AZIN2,0,0,0,0,0,0,0,0,0,...,0,0,0,7,0,0,0,0,0,6
2,CLIC4,3,0,0,1,0,0,0,0,0,...,8,0,3,7,33,0,0,0,16,0
3,AGBL4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,12,0,0,0
4,NECAP2,0,0,0,0,0,0,111,0,0,...,1,0,0,0,0,1,1,0,9,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25520,ERCC_0.45776367:mix1_0.91552734:mix2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25521,ERCC_0.22888184:mix1_0.45776367:mix2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25522,ERCC_0.11444092:mix1_0.22888184:mix2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25523,ERCC_0.05722046:mix1_0.11444092:mix2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25524,ERCC_0.01430512:mix1_0.02861023:mix2,0,0,0,0,0,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0

In [18]:
all_data_log[keep].to_csv('seger_counts_clean.csv', index=False)

In [15]:
all_data_log = pd.read_csv('seger_logcounts.csv')

In [19]:
all_data_log[keep].to_csv('seger_logcounts_clean.csv', index=False)

In [17]:
to_keep.to_csv('ground_truth_clusters_clean.csv', index=False)